<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>    
  </head>
  <body>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div>
      <img src="<%=autor.imagen%>" width="200px" height="200px"/>
    </div>
    <h1>Nombre: <%=autor.nombre%></h1>
    <h2>Biografía:</h2>
    <p>Video</p>
  </body>
</html>
